scrapely~=0.14.1
scrapy~=2.9.0
scrapyd~=1.4.3
slybot
logparser~=0.8.2
pyopenssl==22.0.0
cryptography~=42.0.5
more_itertools
pycryptodome~=3.14.1
git+https://github.com/Pandaaaa906/ScrapyAutoDb.git
psycopg2-binary
six
tzlocal~=2.1
itemadapter
requests_html
pyexecjs
demjson
sqlalchemy~=1.4
playwright~=1.18.1
scrapy-playwright~=0.0.8
playwright_stealth~=1.0.5
jsonpath~=0.82
werkzeug~=2.3.8
flask-sqlalchemy~=2.5.1
flask~=3.0.2
scrapy_redis~=0.7.3
git+https://github.com/Pandaaaa906/scrapydweb.git@dev
fonttools~=4.49.0
jsonpath-ng~=1.5.3
Twisted~=24.3.0
