scrapely~=0.12.0
scrapy~=2.5.0
scrapyd~=1.2.1
slybot
logparser~=0.8.2
more_itertools
git+https://github.com/Pandaaaa906/ScrapyAutoDb.git
psycopg2-binary
six
tzlocal~=2.1
itemadapter
requests_html
pyexecjs
demjson
playwright~=1.18.1
scrapy-playwright~=0.0.8
playwright_stealth~=1.0.5
jsonpath~=0.82
werkzeug~=2.0.3
flask~=2.1.0
flask-sqlalchemy~=2.5.1
scrapy_redis~=0.7.3
git+https://github.com/Pandaaaa906/scrapydweb.git@dev
